.shop-item{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 15px;
    background-color: #ffffff;
    margin-bottom: 15px;
    -webkit-box-shadow: 0px 0px 34px 0px rgba(51, 51, 51, 0.19);
    -moz-box-shadow: 0px 0px 34px 0px rgba(51, 51, 51, 0.19);
    box-shadow: 0px 0px 34px 0px rgba(51, 51, 51, 0.19);
    border-radius: 10px;
}
.shop-item:last-child{
    margin: 0;
}
.shop-item__title{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 32px;
    margin-bottom: 20px;
}
.shop-item__price{
    font-family: 'Courier New', Courier, monospace;
    font-size: 24px;
}